table.dataTable tbody tr td {
    white-space: nowrap !important;
}

.input-error {
    color: red;
    border: 1px solid red;
}

/*#min-max-save {
    display: none;
}*/

.popover-title {
    display: none;
}

.popover {
    background-color: #ebe3bd;
    border-color: #90bebb;
    font-size: 12px;
}

.popover.top > .arrow:after {
    border-top-color: #ebe3bd;
}

#store_kpis_table td,
#sales_table td,
#atv_table td,
#upt_table td,
#transaction_table td,
#traffic_table td,
#multiple_unit_sales_table td,
#country_kpis_table td,
#consultants_kpis_table td,
#product_sales_by_category_table td,
#product_sales_by_subcategory_table td,
#product_sales_by_sku_table td,
#product_by_store_table td,
#product_top_selling_table td,
#DataTables_Table_1 td,
#DataTables_Table_0 td,
#stock td,
#stock_by_SKU td,
#min_max_kpis_table td,
    /*#store_home_table td:not(:first-child),*/
    /*#store_home_table1 td:not(:first-child)*/
#store_home_table td,
#store_home_table1 td,
#donation_table td,
#donation_by_country td,
#sales_report_country_table td,
#sales_report_store_table td
{
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #dddddd;
}

/*table td {*/
/*border-top-color: transparent;*/
/*border-left-color: transparent;*/
/*border-right-color: transparent;*/
/*border-bottom-color: #dddddd;*/
/*}*/

/*#store_home_table td:first-child{*/
/*border-right: 1px solid #000000 !important;*/
/*}*/

body {
    /*font-family: "Arial Narrow","SuisseIntl Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
    font-size: 1.2em;
    font-weight: normal !important;
}

body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
    font-family: "Arial Narrow", "SuisseIntl Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

table.dataTable thead th, table.dataTable tfoot th {
    font-weight: normal;
}

#sidebar-accordion .panel-group .panel + .panel {
    margin: 0;
}

#sidebar-accordion .panel, .panel-body {
    border: none;
}

#sidebar-accordion .panel-group .panel {
    border-radius: 0;
}

#sidebar-accordion .panel-default > .panel-heading {
    background: #adb3b8;
}

#sidebar-accordion .panel-heading {
    border-radius: 0;
    padding: 0px 10px;
}

#sidebar-accordion .panel-title {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
}

#sidebar-accordion .panel-body {
    padding: 0px;
}

#sidebar-accordion .panel-body table tr td {
    /*padding-left: 15px;*/
    padding: 9px 5px 9px 20px;
    font-size: 14px;
    background: #e7e7e7;
    border-top: 1px solid #ddd;
}

#sidebar-accordion .panel-body .table {
    margin-bottom: 0px;
}

#sidebar-accordion .panel-body table tr td:hover,
#sidebar-accordion .panel-body table tr td.active {
    background-color: #d6dadd;
}

.sidebar .sidebar-wrapper, body > .navbar-collapse .sidebar-wrapper {
    padding-bottom: 0
}

#store_home_table_wrapper .dataTables_scrollBody {
    height: auto !important;
}

#store_home_table_wrapper table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: none;
}

#store_home_table1_wrapper .dataTables_scrollBody {
    height: auto !important;
}

#store_home_table1_wrapper table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: none;
}

#store_home_table tr.even td {
    background-color: #fffef2;
}

#store_home_table tr.even td:first-child {
    background-color: #fffef2 !important;;
}

#store_home_table1 tr.even td {
    background-color: #fffef2;
}

#store_home_table1 tr.even td:first-child {
    background-color: #fffef2 !important;;
}

#store_home_table tr:nth-child(7) td,
#store_home_table tr:nth-child(10) td,
#store_home_table tr:nth-child(13) td,
#store_home_table tr:nth-child(16) td,
#store_home_table tr:nth-child(19) td,
#store_home_table tr:nth-child(22) td,
#store_home_table tr:nth-child(25) td,
#store_home_table tr:nth-child(28) td,
#store_home_table1 tr:nth-child(7) td,
#store_home_table1 tr:nth-child(10) td,
#store_home_table1 tr:nth-child(13) td,
#store_home_table1 tr:nth-child(16) td,
#store_home_table1 tr:nth-child(19) td,
#store_home_table1 tr:nth-child(22) td,
#store_home_table1 tr:nth-child(25) td,
#store_home_table1 tr:nth-child(28) td {
    border-bottom: 1px solid #000000;
}

#store_kpis_table tr td:nth-child(2),
#store_kpis_table tr td:nth-child(8),
#store_kpis_table tr td:nth-child(11),
#store_kpis_table tr td:nth-child(14),
#store_kpis_table tr td:nth-child(17),
#store_kpis_table tr td:nth-child(20),
#store_kpis_table tr td:nth-child(23),
#store_kpis_table tr td:nth-child(26),
#store_kpis_table tr td:nth-child(29),
#store_kpis_table_wrapper tr th:nth-child(2),
#store_kpis_table_wrapper tr th:nth-child(8),
#store_kpis_table_wrapper tr th:nth-child(11),
#store_kpis_table_wrapper tr th:nth-child(14),
#store_kpis_table_wrapper tr th:nth-child(17),
#store_kpis_table_wrapper tr th:nth-child(20),
#store_kpis_table_wrapper tr th:nth-child(23),
#store_kpis_table_wrapper tr th:nth-child(26),
#store_kpis_table_wrapper tr th:nth-child(29) {
    border-right: 1px solid #000000;
}
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(2),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(8),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(11),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(14),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(17),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(20),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(23),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(26),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(29) {
    border-right: none;
}


#store_kpis_table_interval tr td:nth-child(1),
#store_kpis_table_interval tr td:nth-child(7),
#store_kpis_table_interval tr td:nth-child(10),
#store_kpis_table_interval tr td:nth-child(13),
#store_kpis_table_interval tr td:nth-child(16),
#store_kpis_table_interval tr td:nth-child(19),
#store_kpis_table_interval tr td:nth-child(22),
#store_kpis_table_interval tr td:nth-child(25),
#store_kpis_table_interval tr td:nth-child(28),
#store_kpis_table_interval_wrapper tr th:nth-child(1),
#store_kpis_table_interval_wrapper tr th:nth-child(7),
#store_kpis_table_interval_wrapper tr th:nth-child(10),
#store_kpis_table_interval_wrapper tr th:nth-child(13),
#store_kpis_table_interval_wrapper tr th:nth-child(16),
#store_kpis_table_interval_wrapper tr th:nth-child(19),
#store_kpis_table_interval_wrapper tr th:nth-child(22),
#store_kpis_table_interval_wrapper tr th:nth-child(25),
#store_kpis_table_interval_wrapper tr th:nth-child(28) {
    border-right: 1px solid #000000;
}

#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(1),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(7),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(10),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(13),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(16),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(19),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(22),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(25),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(28) {
    border-right: none;
}



#country_kpis_table tr td:nth-child(1),
#country_kpis_table tr td:nth-child(7),
#country_kpis_table tr td:nth-child(10),
#country_kpis_table tr td:nth-child(13),
#country_kpis_table tr td:nth-child(16),
#country_kpis_table tr td:nth-child(19),
#country_kpis_table tr td:nth-child(22),
#country_kpis_table tr td:nth-child(25),
#country_kpis_table tr td:nth-child(28),
#country_kpis_table_wrapper tr th:nth-child(1),
#country_kpis_table_wrapper tr th:nth-child(7),
#country_kpis_table_wrapper tr th:nth-child(10),
#country_kpis_table_wrapper tr th:nth-child(13),
#country_kpis_table_wrapper tr th:nth-child(16),
#country_kpis_table_wrapper tr th:nth-child(19),
#country_kpis_table_wrapper tr th:nth-child(22),
#country_kpis_table_wrapper tr th:nth-child(25),
#country_kpis_table_wrapper tr th:nth-child(28) {
    border-right: 1px solid #000000;
}
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(1),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(7),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(10),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(13),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(16),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(19),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(22),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(25),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(28) {
    border-right: none;
}

#sales_report_country_table tr td:nth-child(2),
 #sales_report_country_table_wrapper .dataTables_scrollHead tr th:nth-child(2),
 #sales_report_country_table tr td:nth-child(9),
 #sales_report_country_table_wrapper .dataTables_scrollHead tr th:nth-child(9)
 {
     border-right: 1px solid #000000;
 }


#sales_report_store_table tr td:nth-child(3),
#sales_report_store_table_wrapper .dataTables_scrollHead tr th:nth-child(3),
#sales_report_store_table tr td:nth-child(10),
#sales_report_store_table_wrapper .dataTables_scrollHead tr th:nth-child(10)
{
    border-right: 1px solid #000000;
}

p.store_home_date {
    margin: 0;
}

#store_home_table td,
#store_home_table1 td {
    padding: 5px 10px;
}

/*CUSTOM*/

.panel-default>.panel-heading .panel-title {
    text-transform: capitalize !important;
    font-size: 15px !important;
    letter-spacing: 0.15px;
}

.col-md-4 {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-collapse {
    margin-top: 6px;
}
   
.navbar-default {
/*    border-bottom: 4px solid #EAEEF1;*/
    border-bottom: none;
    background-color: transparent !important;
    padding-left: 150px
}

.navbar-brand {
    display: none;
}

.navbar-default .navbar-nav > li > a:not(.btn) {
    color: #444444;
}

.navbar .navbar-nav > li > a {
    padding: 10px 15px;
    margin: 10px 6px;
    background-color: white;
    border-radius: 16px !important;
    box-shadow: 2px 2px 5px 3px rgba(135, 135, 135, 0.06);
}

.navbar-default .navbar-nav>.disabled>a {
    color: #ccc;
    background-color: #fafafa;
}

.navbar-default .navbar-nav > li > a:not(.btn):hover {
    background-color: #fafafa;
    border-radius: 3px;
    color: black;
    box-shadow: 3px 3px 6px 4px rgba(135, 135, 135, 0.05);
}

.main-panel > .main-content {
    padding-top: 76px;
    min-height: calc(100% - 66px);
}

.col-md-10 {
    padding-left: 20px;
    padding-right: 10px;
}

.card {
    border: solid 1px #ebebeb;
    border-radius: 6px;
    margin-bottom: 20px;
    background-color: white !important;
    box-shadow: 3px 3px 4px 1px rgba(135, 135, 135, 0.04);
    transition: box-shadow 300ms;
    transition: background-color 300ms;
}

.card:hover {
    box-shadow: 4px 4px 4px 1px rgba(135, 135, 135, 0.07);
}

.card .content {
    padding: 10px 10px 10px 10px;
}

.card h4 {
    letter-spacing: 0.4px;
    color: #444444 !important;
    font-size: 13px;
}

.card .content > div[id]:not([data-highcharts-chart]):not(.dataTables_wrapper):before,
.card .content > a[href] > div[id]:not([data-highcharts-chart]):not(.dataTables_wrapper):before {
  display: none;
}

#filter-container > .filter {
    border-left: solid 2px #EAEEF1;
}

table.dataTable tbody tr.odd {
    background-color: #f9f8f3 !important;
}

tr th {
    background-color: #f9f8f3 !important;
}

/*BG COLOR*/

.main-panel, #filter-refresh-container, #filter {
    background: #EAEEF1;
}

.container-fluid, .main-content, body {
    background-color: transparent !important;
}

#progress {
    background-color: #EAEEF1;
}

.navbar-default, .navbar-collapse {
    background-color: transparent;
}

.sidebar-wrapper {
    background-color: white;
}

.logo {
    background-color: white !important;
}

/* FONT*/

body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
    font-family: "Arial", "Helvetica", sans-serif !important;
    font-weight: 500 !important;
}

/*SIDEBAR*/

.sidebar-wrapper {
    border-right: solid 1px #ebebeb;
}

.sidebar .logo, body > .navbar-collapse .logo {
    padding: 19px 0px;
    border-bottom: none;
    width: 80%;
}

.panel-group .panel {
    border-radius: 0px;
    box-shadow: none;
}

.panel-group .panel+.panel {
    margin-top: 0;
}

#sidebar-accordion .panel-heading {
    padding: 10px 10px;
    display: none
}

h4, .h4 {
    line-height: inherit;
}

#sidebar-accordion .panel-default > .panel-heading {
    background: none;
    padding: 0;
}

#sidebar-accordion .panel-title {
    color: #444444;
}

.panel-default>.panel-heading .panel-title {
    font-size: 13px !important;
    letter-spacing: 0.5px;
    padding: 10px 5px 10px 15px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

#sidebar-accordion .panel-body table tr td {
    padding: 15px 15px 15px 10px;
    font-size: 12px;
    letter-spacing: 0.4px;
    background: none;
    border-top: none;
    line-height: 1.6;
        cursor: pointer
}

#sidebar-accordion .panel-body table tr td a {
    color: #444444;
}

#sidebar-accordion .panel-body table tr td:hover, #sidebar-accordion .panel-body table tr td.active {
    background-color: #f5f5f5;
}

#sidebar-accordion .panel-body table tr td:hover a, #sidebar-accordion .panel-body table tr td.active a {
    color: black;
}

/*FILTER*/

.accordion > h5, .accordion-toggle > h3 {
    cursor: pointer;
    margin: 10px 10px 10px 5px;
    padding: 14px 30px 14px 0px;
    color: #444444;
    border-radius: 0;
    background: transparent;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.accordion > h5:after, .accordion-toggle > h3:after {
    width: 0;
    height: 0;
    border-top: none;
    border: none;
}

.accordion > div[class$="-content"] {
    display: none;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 0 0px;
}

/*ICONS*/

#sidebar-accordion .panel-body table tr td a::before {
    background-size: 18px 18px;
    display: inline-block;
    width: 18px; 
    height: 18px;
    content:"";
    float: left;
    margin-right:6px;
}

/*SALES REPORT*/
.sidebar-wrapper .panel-group .panel:nth-of-type(1) table tr:nth-of-type(1) td a::before {
    background-image: url(https://raw.githubusercontent.com/joshuaryaan/veritas/922af314fa803766963c26b80ebf58931067f753/images/salesreport.svg);
}

/*STORE SUMMARY*/
.sidebar-wrapper .panel-group .panel:nth-of-type(2) table tr:nth-of-type(1) td a::before {
    background-image: url(https://raw.githubusercontent.com/joshuaryaan/veritas/b2af719556ee61bd5fc0cc3dde78d080eec2148d/images/storesummary.svg);
}

/*PRODUCTIVITY*/
.sidebar-wrapper .panel-group .panel:nth-of-type(2) table tr:nth-of-type(2) td a::before {
    background-image: url(https://raw.githubusercontent.com/joshuaryaan/veritas/ea866b680d5ab3badf8dd3cf545d08fb6c24296b/images/productivity.svg);
}

/*CONSULTANT*/
.sidebar-wrapper .panel-group .panel:nth-of-type(2) table tr:nth-of-type(3) td a::before {
    background-image: url('https://raw.githubusercontent.com/joshuaryaan/veritas/ea866b680d5ab3badf8dd3cf545d08fb6c24296b/images/consultant.svg');
}

/*TRAFFIC*/
.sidebar-wrapper .panel-group .panel:nth-of-type(2) table tr:nth-of-type(4) td a::before {
    background-image: url(https://raw.githubusercontent.com/joshuaryaan/veritas/3d6b9244b91de82516ba0337ad6ddbe1ab791ea7/images/traffic.svg);
}

/*PRODUCT*/
.sidebar-wrapper .panel-group .panel:nth-of-type(2) table tr:nth-of-type(5) td a::before {
    background-image: url(https://raw.githubusercontent.com/joshuaryaan/veritas/922af314fa803766963c26b80ebf58931067f753/images/product.svg);
}

/*INVENTORY*/
.sidebar-wrapper .panel-group .panel:nth-of-type(3) table tr:nth-of-type(1) td a::before {
    background-image: url(https://raw.githubusercontent.com/joshuaryaan/veritas/a9a4d4ecb9e9612ee3acc8f09a27027fb6fdaa0d/images/inventory.svg);
}

/*TRAFFIC*/
.sidebar-wrapper .panel-group .panel:nth-of-type(3) table tr:nth-of-type(2) td a::before {
    background-image: url(https://raw.githubusercontent.com/joshuaryaan/veritas/ea866b680d5ab3badf8dd3cf545d08fb6c24296b/images/replenishment.svg);
}

/*DONATION*/
.sidebar-wrapper .panel-group .panel:nth-of-type(4) table tr:nth-of-type(1) td a::before {
    background-image: url(https://raw.githubusercontent.com/joshuaryaan/veritas/922af314fa803766963c26b80ebf58931067f753/images/donation.svg);
}