table.dataTable tbody tr td {
    white-space: nowrap !important;
}

.input-error {
    color: red;
    border: 1px solid red;
}

#min-max-save {
    display: none;
}

.popover-title {
    display: none;
}

.popover {
    background-color: #ebe3bd;
    border-color: #90bebb;
    font-size: 12px;
}

.popover.top > .arrow:after {
    border-top-color: #ebe3bd;
}

#store_kpis_table td,
#sales_table td,
#atv_table td,
#upt_table td,
#transaction_table td,
#traffic_table td,
#multiple_unit_sales_table td,
#country_kpis_table td,
#consultants_kpis_table td,
#product_sales_by_category_table td,
#product_sales_by_subcategory_table td,
#product_sales_by_sku_table td,
#product_by_store_table td,
#product_top_selling_table td,
#DataTables_Table_1 td,
#DataTables_Table_0 td,
#stock td,
#stock_by_SKU td,
#min_max_kpis_table td,
    /*#store_home_table td:not(:first-child),*/
    /*#store_home_table1 td:not(:first-child)*/
#store_home_table td,
#store_home_table1 td,
#donation_table td,
#donation_by_country td,
#sales_report_country_table td,
#sales_report_store_table td
{
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #dddddd;
}

/*table td {*/
/*border-top-color: transparent;*/
/*border-left-color: transparent;*/
/*border-right-color: transparent;*/
/*border-bottom-color: #dddddd;*/
/*}*/

/*#store_home_table td:first-child{*/
/*border-right: 1px solid #000000 !important;*/
/*}*/

body {
    /*font-family: "Arial Narrow","SuisseIntl Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
    font-size: 1.2em;
    font-weight: normal !important;
}

/*body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
    font-family: "Arial Narrow", "SuisseIntl Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}*/

table.dataTable thead th, table.dataTable tfoot th {
    font-weight: normal;
}

#sidebar-accordion .panel-group .panel + .panel {
    margin: 0;
}

#sidebar-accordion .panel, .panel-body {
    border: none;
}

#sidebar-accordion .panel-group .panel {
    border-radius: 0;
}

#sidebar-accordion .panel-default > .panel-heading {
    background: #adb3b8;
}

#sidebar-accordion .panel-heading {
    border-radius: 0;
    padding: 0px 10px;
}

#sidebar-accordion .panel-title {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
}

#sidebar-accordion .panel-body {
    padding: 0px;
}

#sidebar-accordion .panel-body table tr td {
    /*padding-left: 15px;*/
    padding: 9px 5px 9px 20px;
    font-size: 14px;
    background: #e7e7e7;
    border-top: 1px solid #ddd;
}

#sidebar-accordion .panel-body .table {
    margin-bottom: 0px;
}

#sidebar-accordion .panel-body table tr td:hover,
#sidebar-accordion .panel-body table tr td.active {
    background-color: #d6dadd;
}

.sidebar .sidebar-wrapper, body > .navbar-collapse .sidebar-wrapper {
    padding-bottom: 0
}

#store_home_table_wrapper .dataTables_scrollBody {
    height: auto !important;
}

#store_home_table_wrapper table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: none;
}

#store_home_table1_wrapper .dataTables_scrollBody {
    height: auto !important;
}

#store_home_table1_wrapper table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: none;
}

#store_home_table tr.even td {
    background-color: #fffef2;
}

#store_home_table tr.even td:first-child {
    background-color: #fffef2 !important;;
}

#store_home_table1 tr.even td {
    background-color: #fffef2;
}

#store_home_table1 tr.even td:first-child {
    background-color: #fffef2 !important;;
}

#store_home_table tr:nth-child(7) td,
#store_home_table tr:nth-child(10) td,
#store_home_table tr:nth-child(13) td,
#store_home_table tr:nth-child(16) td,
#store_home_table tr:nth-child(19) td,
#store_home_table tr:nth-child(22) td,
#store_home_table tr:nth-child(25) td,
#store_home_table tr:nth-child(28) td,
#store_home_table1 tr:nth-child(7) td,
#store_home_table1 tr:nth-child(10) td,
#store_home_table1 tr:nth-child(13) td,
#store_home_table1 tr:nth-child(16) td,
#store_home_table1 tr:nth-child(19) td,
#store_home_table1 tr:nth-child(22) td,
#store_home_table1 tr:nth-child(25) td,
#store_home_table1 tr:nth-child(28) td {
    border-bottom: 1px solid #000000;
}

#store_kpis_table tr td:nth-child(2),
#store_kpis_table tr td:nth-child(8),
#store_kpis_table tr td:nth-child(11),
#store_kpis_table tr td:nth-child(14),
#store_kpis_table tr td:nth-child(17),
#store_kpis_table tr td:nth-child(20),
#store_kpis_table tr td:nth-child(23),
#store_kpis_table tr td:nth-child(26),
#store_kpis_table tr td:nth-child(29),
#store_kpis_table_wrapper tr th:nth-child(2),
#store_kpis_table_wrapper tr th:nth-child(8),
#store_kpis_table_wrapper tr th:nth-child(11),
#store_kpis_table_wrapper tr th:nth-child(14),
#store_kpis_table_wrapper tr th:nth-child(17),
#store_kpis_table_wrapper tr th:nth-child(20),
#store_kpis_table_wrapper tr th:nth-child(23),
#store_kpis_table_wrapper tr th:nth-child(26),
#store_kpis_table_wrapper tr th:nth-child(29) {
    border-right: 1px solid #000000;
}
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(2),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(8),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(11),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(14),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(17),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(20),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(23),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(26),
#store_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(29) {
    border-right: none;
}


#store_kpis_table_interval tr td:nth-child(1),
#store_kpis_table_interval tr td:nth-child(7),
#store_kpis_table_interval tr td:nth-child(10),
#store_kpis_table_interval tr td:nth-child(13),
#store_kpis_table_interval tr td:nth-child(16),
#store_kpis_table_interval tr td:nth-child(19),
#store_kpis_table_interval tr td:nth-child(22),
#store_kpis_table_interval tr td:nth-child(25),
#store_kpis_table_interval tr td:nth-child(28),
#store_kpis_table_interval_wrapper tr th:nth-child(1),
#store_kpis_table_interval_wrapper tr th:nth-child(7),
#store_kpis_table_interval_wrapper tr th:nth-child(10),
#store_kpis_table_interval_wrapper tr th:nth-child(13),
#store_kpis_table_interval_wrapper tr th:nth-child(16),
#store_kpis_table_interval_wrapper tr th:nth-child(19),
#store_kpis_table_interval_wrapper tr th:nth-child(22),
#store_kpis_table_interval_wrapper tr th:nth-child(25),
#store_kpis_table_interval_wrapper tr th:nth-child(28) {
    border-right: 1px solid #000000;
}

#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(1),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(7),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(10),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(13),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(16),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(19),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(22),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(25),
#store_kpis_table_interval_wrapper .dataTables_scrollFoot tr th:nth-child(28) {
    border-right: none;
}



#country_kpis_table tr td:nth-child(1),
#country_kpis_table tr td:nth-child(7),
#country_kpis_table tr td:nth-child(10),
#country_kpis_table tr td:nth-child(13),
#country_kpis_table tr td:nth-child(16),
#country_kpis_table tr td:nth-child(19),
#country_kpis_table tr td:nth-child(22),
#country_kpis_table tr td:nth-child(25),
#country_kpis_table tr td:nth-child(28),
#country_kpis_table_wrapper tr th:nth-child(1),
#country_kpis_table_wrapper tr th:nth-child(7),
#country_kpis_table_wrapper tr th:nth-child(10),
#country_kpis_table_wrapper tr th:nth-child(13),
#country_kpis_table_wrapper tr th:nth-child(16),
#country_kpis_table_wrapper tr th:nth-child(19),
#country_kpis_table_wrapper tr th:nth-child(22),
#country_kpis_table_wrapper tr th:nth-child(25),
#country_kpis_table_wrapper tr th:nth-child(28) {
    border-right: 1px solid #000000;
}
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(1),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(7),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(10),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(13),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(16),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(19),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(22),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(25),
#country_kpis_table_wrapper .dataTables_scrollFoot tr th:nth-child(28) {
    border-right: none;
}

#sales_report_country_table tr td:nth-child(2),
 #sales_report_country_table_wrapper .dataTables_scrollHead tr th:nth-child(2),
 #sales_report_country_table tr td:nth-child(9),
 #sales_report_country_table_wrapper .dataTables_scrollHead tr th:nth-child(9)
 {
     border-right: 1px solid #000000;
 }


#sales_report_store_table tr td:nth-child(3),
#sales_report_store_table_wrapper .dataTables_scrollHead tr th:nth-child(3),
#sales_report_store_table tr td:nth-child(10),
#sales_report_store_table_wrapper .dataTables_scrollHead tr th:nth-child(10)
{
    border-right: 1px solid #000000;
}

p.store_home_date {
    margin: 0;
}

#store_home_table td,
#store_home_table1 td {
    padding: 5px 10px;
}

/*JOSH*/

body {
    background-color: #dfe2e5;
}

body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

h4 {
    font-weight: 400
}

.navbar-default {
/*    background-color: #dfe2e5;*/
    background-color: #fafafa;
    border-bottom: none;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.02);
}

body > .wrapper {
  border: none;
}

.navbar.fixed {
    top: 0;
    border-top: none;
    padding-left: 20px;
    height: 60px !important;
}

.navbar-default .navbar-brand {
    color: #242424;
    letter-spacing: 0.7px;
    font-weight: 600;
    font-size: 15px;
}

.navbar-default .navbar-brand:hover {
    color: black;
}

.navbar-collapse {
    padding-right: 25px;
}

.navbar .navbar-nav > li {
    margin-left: 30px;
}

.navbar .navbar-nav > li > a {
    padding: 10px 15px;
    margin: auto 3px;
    display: inline;
}

.navbar-default .navbar-nav > li > a:not(.btn) {
    color: #242424;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:not(.btn):hover,
.navbar-default .navbar-nav > .active > a:not(.btn):focus,
.navbar-default .navbar-nav > li > a:not(.btn):hover,
.navbar-default .navbar-nav > li > a:not(.btn):focus {
  color: black;
}

.main-panel {
    max-height: calc(100% - 60px);
    height: calc(100% - 60px);
    position:static
}

.sidebar .logo {
    display: none;
}

/*WIP*/

.sidebar {
    position: absolute;
    z-index: 3;
    margin-top: 60px;
    max-height: calc(100% - 60px);
/*    box-shadow: 3px 0 6px 2px rgba(0,0,0,0.03);*/
}

.sidebar:after {
/*    background-color: #dfe2e5;*/
    background-color: #ebebeb;
}

.sidebar .sidebar-wrapper {
/*    background-color: #dfe2e5;*/
    background-color: #ebebeb;
    margin: 00px 0 0 0;
    max-height: calc(100vh - 88px);
    min-height: 0px;
}

.sidebar .panel {
    background-color: inherit;
    box-shadow: none;
}

#sidebar-accordion .panel {
    border-radius: 0;
    overflow: hidden;
    margin: 0 0 0 0;
}

#sidebar-accordion .panel:first-of-type {
    margin-top: 26px
}

#sidebar-accordion .panel-default > .panel-heading {
    background: inherit;
    padding: 0 0 0 20px;
}

#sidebar-accordion .panel-title {
    color: black;
    font-size: 12px;
    text-transform: none;
    letter-spacing: 0.5px
}

#sidebar-accordion .panel-body table tr td {
    padding: 9px 5px 9px 30px;
    background: inherit;
    border: none;
    font-size: 12px;
    width: calc(100% - 15px);
    display: inline-block;
}

#sidebar-accordion .panel-body table tr td.active {
    background-color: #D6D6D6;
    padding: 9px 5px 9px 15px;
    margin: 0 0 0 15px;
    display: inline-block;
    width: calc(100% - 15px);
    border-radius: 3px;
}

.active a {
    color: black;
}

#sidebar-accordion .panel-body table tr td:hover {
    background-color: #E0E0E0;
    padding: 9px 5px 9px 15px;
    margin: 0 0 0 15px;
    display: inline-block;
    width: calc(100% - 15px);
    border-radius: 3px;
}

#sidebar-accordion .panel-body table tr td:hover > a div {
    color: black;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border: none;
}

/**/

.main-panel > .main-content {
    position: relative;
    z-index: 0;
    margin-top: 60px;
    padding-top: 30px;
    min-height: calc(100% - 123px);
/*    background-color: #dfe2e5;*/
    background-color: #ebebeb;
}

.container-fluid, .navbar-collapse {
    background-color: inherit;
}

#filter-container > .filter {
    border-left: none;
    min-height: calc(100vh - 92px);
}

#filter-refresh-container {
    background-color: #ebebeb;
}

.dashboard .col-md-2 {
    padding: 0 20px 5px 0; 
    overflow: hidden;
}

.accordion > h5, .accordion-toggle > h3 {
    cursor: pointer;
    margin: 0 0 10px 0;
    box-sizing: border-box;
    padding: 12px 30px 12px 10px;
    position: relative;
    color: black;
    border-radius: 3px;
    background-color: #D6D6D6;
/*    box-shadow: 4px 5px 4px 2px rgba(0,0,0,0.03);*/
}

.accordion > div[class$="-content"] {
    margin: 0;
    padding: 10px 4px;
}

.accordion button {
    border-radius: 3px;
    border: solid 1px #D1D1D1;
    background-color: #EBEBEB;
    letter-spacing: 0.3px;
    margin: 0 0 8px 0;
    box-shadow: 4px 5px 4px 2px rgba(0,0,0,0.02);
}

label {
    font-weight: 400;
}

input[type=checkbox]:not(.sol-checkbox), 
input[type=radio]:not(.sol-radio) {
    position: relative;
    top: 0;
}

.col-md-4 {
    padding-left: 10px;
    padding-right: 10px;
}

.col-md-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin: 0;
}

.card {
    margin-bottom: 20px;
    background-color: #fdfdfd;
    border: solid 1px #E6E7EB;
    border-radius: 6px;
/*    box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.01);*/
}

.card .title {
    font-size: 13px;
    font-weight: 300;
}

#min-max-save {
    display: block;
}

/*JOSH*/